Source: grub-theme-polkadots-dark
Section: admin
Priority: optional
Maintainer: Michael Schaecher <michaelleeschaecher@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 pandoc, dpkg-changelog, git, debhelper (>= 12), dh-make, lintian
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/MichaelSchaecher/grub-theme-polkadots-dark
Vcs-Git: https://github.com/MichaelSchaecher/grub-theme-polkadots-dark.git

Package: grub-theme-polkadots-dark
Architecture: any
Multi-Arch: foreign
Depends: grub-common, grub2-common
Description: Dark Polkadots GRUB theme
 This is a dark version of the Polkadots GRUB theme.
 It features a modern design with polka dots and a dark color scheme.
 .
 The theme is designed to be visually appealing and functional, providing
 a pleasant user experience during the boot process.
 .
 It is compatible with GRUB 2 and can be easily installed on Debian-based
 systems.
