#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

# what is being installed
theme = $(CURDIR)/theme.txt
screenshot = $(CURDIR)/screenshot.png

changelog = $(CURDIR)/debian/changelog

copyright = $(CURDIR)/COPYING
readme = $(CURDIR)/README.md
coc = $(CURDIR)/CODE_OF_CONDUCT.md

copyright_images = $(CURDIR)/copyright.images

images = $(CURDIR)/images
icons = $(CURDIR)/icons
fonts = $(CURDIR)/fonts

grub_dir = $(CURDIR)/debian/grub-theme-polkadots-dark/usr/share/grub/themes/polka-dots-dark
docs = $(CURDIR)/debian/grub-theme-polkadots-dark/usr/share/doc/grub-theme-polkadots-dark

build: build-stamp

build-stamp:
	dh_auto_build
	touch build-stamp

clean:
	dh_auto_clean
	rm -f build-stamp

install: build clean $(theme) $(screenshots) $(copyright) $(readme) $(coc) \
	$(copyright_images) $(images) $(icons) $(fonts)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Install the theme
	mkdir -m 755 -p $(grub_dir)/images \
		$(grub_dir)/icons \
		$(grub_dir)/fonts \
		$(docs) \


	install -m 666 $(theme) $(grub_dir)/theme.txt
	install -m 666 $(screenshot) $(grub_dir)/screenshot.png
	install -m 666 $(copyright_images) $(grub_dir)/copyright.images

	install -m 666 $(copyright) $(docs)/COPYING
	install -m 666 $(readme) $(docs)/README.md
	install -m 666 $(coc) $(docs)/CODE_OF_CONDUCT.md

	install -m 666 $(images)/* $(grub_dir)/images/
	install -m 666 $(icons)/* $(grub_dir)/icons/
	install -m 666 $(fonts)/* $(grub_dir)/fonts/

binary-indep: install
	dh_installdocs
	dh_installchangelogs $(changelog)
	dh_installman
	dh_installmime
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
